.navigace{
    list-style-type: none;
    background-color: black;
    padding: 5px;
    margin: 0;
    text-align: center;
    overflow: hidden;
    font-size: 24px;
    display: block;
}

a{
    text-decoration: none;
    color: bisque;
    padding: 20px;
}

a:hover{
    color: black;
    background-color: bisque;
}

.Titul{
    text-align: center;
    font-size: 25px;
}

p{
    text-align: center;
    font-size: 17px;
}

body{
    background-color: antiquewhite;
}