.navigace{
    list-style-type: none;
    background-color: black;
    padding: 5px;
    margin: 0;
    text-align: center;
    overflow: hidden;
    font-size: 24px;
    display: block;
}

.Main{
    text-decoration: none;
    color: bisque;
    padding: 20px;
}

.Main:hover{
    color: black;
    background-color: bisque;
}

.Titul{
    text-align: center;
    font-size: 25px;
}

.text-link{
    text-decoration: none;
    color: tomato;
}

.text-link:hover{
    color: rgb(114, 35, 21);
}

p{
    text-align: center;
    font-size: 22px;
}

body{
    background-color: antiquewhite;
}